/*
!/.gitignore
!/README.md
!import-text-file/
!import-text-file/*
!import-text-file/languages/
!import-text-file/languages/*
!import-text-url/
!import-text-url/*
!import-text-url/languages/
!import-text-url/languages/*
!import-text-url-ui/
!import-text-url-ui/*
!import-text-url-ui/languages/
!import-text-url-ui/languages/*
!import-text-file-ui/
!import-text-file-ui/*
!import-text-file-ui/languages/
!import-text-file-ui/languages/*
!LICENSE
.DS_Store
